<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Welcome, {{ username }}!</h1>
    <p>Your dashboard for managing appointments and services.</p>
  </header>
  <main class="dashboard-main">
    <section class="appointments">
      <div class="appointments-header">
        <h2>Upcoming Appointments</h2>
        <button class="btn primary book-btn" (click)="bookNewAppointment()">Appointment +</button>
      </div>
      <table class="appointment-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Slot</th>
            <th>Service</th>
            <th>Price (RM)</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of upcomingAppointments">
            <td>{{ appointment.bookingDate |  date:'dd.MM.yyyy' }}</td>
            <td>{{ transformSlotTo12HourFormat(appointment.slot) }}</td>
            <td>{{ appointment.serviceTitle }}</td>
            <td>{{ appointment.priceRange | currency:'RM ':true:'1.2-2' }}</td>
            <td>{{ appointment.expr1 }}</td>
            <td>
              <button class="btn" (click)="viewAppointment(appointment)">View</button>
              <button class="btn cancel" (click)="cancelBooking(appointment.bookingId)">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <!-- Include the modal component -->
  <app-modal 
    [isVisible]="isModalVisible" 
    [modalTitle]="modalTitle" 
    [modalMessage]="modalMessage" 
    (closeModalEvent)="closeModal()">
  </app-modal>
</div>
