/* Global color variables */
:root {
  --orange: #ffa701;
  --dark-blue: #2E4057;
  --light-beige: #F4F1DE;
}

/* Dashboard */
.dashboard {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
  text-align: center;
  margin-bottom: 30px;
}

.user-info {
  margin-bottom: 30px;
  padding: 15px;
  background-color: var(--light-beige);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
  margin-bottom: 15px;
  color: var(--dark-blue);
}

.appointments {
  padding: 15px;
  background-color: var(--white);
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.appointments h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
  color: var(--dark-blue);
}

.appointments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.appointment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 10px 0;
  background-color: var(--light-beige);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointment-card:hover {
  transform: translateY(-3px); /* Slight hover effect */
}

.appointment-details {
  flex: 1;
}

.appointment-details strong {
  color: var(--dark-blue);
}

.cancel-button {
  background-color: var(--orange);
  color: var(--light-beige);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0; /* Ensures button doesn't stretch */
  white-space: nowrap; /* Prevents button text from wrapping */
}

.cancel-button:hover {
  background-color: var(--dark-blue);
  color: var(--light-beige);
}

.action-buttons {
  text-align: center;
}

.btn {
  background-color: var(--orange); /* Primary button color */
  color: var(--light-beige);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--dark-blue); /* Darker shade on hover */
  color: var(--light-beige);
}
