<nav class="sb-sidenav accordion bg-opacity-80" id="sidenavAccordion" style="background-color: #f1592a">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <!-- <div class="sb-sidenav-footer">
                <div class="small">Log Masuk Sebagai: {{userClaims?.FirstName}} </div>

            </div> -->
            <div class="sb-sidenav-menu-heading">Menu</div>
            <!-- <a class="nav-link" routerLink="Home">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a> -->
            <a class="nav-link" routerLink="/home">
                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                Halaman Utama
            </a>
            
            <div class="sb-sidenav-menu-heading">Modul Belian</div>

            <a class="nav-link" href="charts.html" routerLink="/purchase">
                <div class="sb-nav-link-icon"><i class="fas fa-cart-shopping"></i></div>
                Belian 
            </a>
            <a class="nav-link" routerLink="/transaction">
                <div class="sb-nav-link-icon"><i class="fas fa-ticket"></i></div>
                Belian Bulanan
            </a>


            <a class="nav-link" href="charts.html" routerLink="/purchasebyname">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-print" style="color: #ffffff;"></i></div>
                Belian Pekebun Kecil
            </a>
           
           
            <a class="nav-link" href="charts.html" routerLink="/transfraction">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Belian Pembahagian
            </a>
            <a class="nav-link" href="charts.html" routerLink="/transbyuserid">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                Belian Pengguna
            </a>

            <div class="sb-sidenav-menu-heading">Modul Jualan</div>

            <a class="nav-link" href="charts.html" routerLink="/sellTrans">
                <div class="sb-nav-link-icon"><i class="fas fa-handshake"></i></div>
               Jualan
            </a>

            <div class="sb-sidenav-menu-heading">Modul Pembayaran</div>

            <div >
            <a class="nav-link" href="charts.html" routerLink="/payment-info">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-lines" style="color: #ffffff;"></i></div>
                Maklumat Pembayaran
            </a>
            
            <a class="nav-link" href="charts.html" routerLink="/averagePrice">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-money-check-dollar" style="color: #fafcff;"></i></div>
                Harga Purata
            </a>
            </div>
        </div>
    </div>
    
   
</nav>