
  .setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  /* Profile Card Styling */
.profile-card {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff; /* Ensure background is white */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

/* Profile Details Table */
.profile-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  color: #000000;
}

.profile-table td {
  padding: 8px;
  vertical-align: top;
}

.profile-table td:first-child {
  width: 30%;
  font-weight: bold;
  color: #000000;
}

/* Buttons */
.button, .buttonExcel {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button {
  background-color: #443834;
}

.button:hover {
  background-color: #73726f;
}

.buttonExcel {
  background-color: #1d7a2e;
}

.buttonExcel:hover {
  background-color: #155f22;
}

/* Profile Header */
h2 {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

