<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

<nav class="navbar">
  <a routerLink="/" class="navbar-brand">
    <!-- Replace tempAH with your logo -->
    <img src="../../assets/logo.jpeg" alt="tempAH logo" style="height: 40px;"> <!-- Adjust height as needed -->
  </a>
  <button class="menu-toggle" (click)="toggleMenu()">
    &#9776; <!-- Hamburger icon -->
  </button>
  <ul class="navbar-nav" [ngClass]="{ 'open': menuOpen }" *ngIf="!login">
    <li><a (click)="islogin(); $event.preventDefault();" class="login">Login</a></li>
  </ul>
    
  <ul class="navbar-nav" *ngIf="login">
    <li class="nav-item">
      <!-- <a class="nav-link" role="button">
        <i class="fa-solid fa-user fa-fw"></i> Profile
      </a> -->
    </li>
    <li>
      <a (click)="logout()" role="button">
        <i class="fa-solid fa-sign-out-alt fa-fw"></i> Log Out
      </a>
    </li>
  </ul>
</nav>
<div class="modal" *ngIf="isLoginModalOpen">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <div class="login-container">
      <h2 style="color: var(--dark-orange);;">Log In to Your Account</h2>
      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="username">Username or Email:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <button type="submit">Log In</button>
      </form>

      <div class="signup-redirect">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
      <div class="forgot-password">
        <p><a href="/forgot-password">Forgot your password?</a></p>
      </div>
    </div>
  </div>
</div>

