<nav class="navbar">
  <a routerLink="/" class="navbar-brand">
    <!-- <img src="assets/logo.jpg" alt="tempAH Logo" class="navbar-logo" /> -->
    <a>tempAH</a>
  </a>
  <button class="menu-toggle" (click)="toggleMenu()">
    &#9776; <!-- Hamburger icon -->
  </button>
  <ul class="navbar-nav" [ngClass]="{ 'open': menuOpen }">
    <li><a routerLink="/serviceslist">Find Workshops & Appointments</a></li>
    <li><a (click)="bookappointment(); $event.preventDefault();" *ngIf="login">Book An Appointment</a></li>
    <li><a routerLink="/listbusiness">List Your Business</a></li>
    <li><a routerLink="/corporateAdd">Corporate Collab</a></li> 
    <li><a routerLink="/aboutUs">About Us</a></li>
    <li><a (click)="islogin(); $event.preventDefault();" *ngIf="!login" class="login-btn">Login</a></li>
    <!-- <li><a href="" (click)="logout(); $event.preventDefault();" *ngIf="login">Log out</a></li> -->
  </ul>
</nav>
