<div class="app-layout">
  <!-- Header Component -->
  <app-header></app-header>
  
  <div class="layout-content">
    <!-- Sidebar Component -->
    <aside class="sidebar" *ngIf="login && role === 'admin'" >
      <nav class="sidebar-nav">
        <ul>
          <li><a routerLink="/dashboard-admin" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="/vendorlist" routerLinkActive="active">Vendor Management</a></li>
          <li><a routerLink="/userlist" routerLinkActive="active">User Management</a></li>
          <!-- <li><a routerLink="/listbusiness" routerLinkActive="active">Service Management</a></li> -->
          <li><a routerLink="/setting" routerLinkActive="active">Setting</a></li>
          <li><a href="" (click)="logout(); $event.preventDefault();" *ngIf="login">Log out</a></li>
        </ul>
      </nav>
    </aside>
    <aside class="sidebar" *ngIf="login && role === 'vendor'" >
      <nav class="sidebar-nav">
        <ul>
          <li><a routerLink="/dashboard-vendor" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
          <li><a routerLink="/appointmentList" routerLinkActive="active">Appointment Management</a></li>
          <li><a routerLink="/servicemanagement" routerLinkActive="active">Service Management</a></li>
          <li><a routerLink="/setting" routerLinkActive="active">Settings</a></li>
          <li><a href="" (click)="logout(); $event.preventDefault();" *ngIf="login">Log out</a></li>
        </ul>
      </nav>
    </aside>
    <aside class="sidebar" *ngIf="login && role === 'user'" >
      <nav class="sidebar-nav">
        <ul>
          <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
          <li><a routerLink="/serviceslist" routerLinkActive="active">Find Workshops</a></li>
          <li><a routerLink="/appointmentList" routerLinkActive="active">Appointments</a></li>
          <li><a routerLink="/setting" routerLinkActive="active">Settings</a></li>    
          <li><a href="" (click)="logout(); $event.preventDefault();" *ngIf="login">Log out</a></li>

        </ul>
      </nav>
    </aside>

    <!-- Main Content Wrapper -->
    <div class="main-content">
      <main class="container">
        <router-outlet></router-outlet>
      </main>
    
    </div>
  </div>
  <app-footer></app-footer>
</div>
