<div class="appointments-container">
  <mat-card class="profile-card shadow p-3 mb-5 bg-white rounded">  
    <div class="content-header d-flex">
      <h2>Appointment</h2>
    </div>

    <div class="action-buttons" style="text-align: right;">
      <button class="button" style="margin-right: 10px;" (click)="createAppointment()" *ngIf="role === 3">+ New Appointment</button>
    </div>
    
    <div class="appointments-list" *ngIf="appointment.length > 0">
      <table class="appointments-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Service</th>
            <th>Location</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointment">
            <td>{{ appointment.bookingDate | date: 'shortDate' }}</td>
            <td>{{ appointment.slot }}</td>
            <td>{{ appointment.serviceTitle }}</td>
            <td>{{ appointment.vendorName }}</td>
            <td>{{ appointment.expr1 }}</td>
            <td>
              <button class="btn" (click)="viewAppointment(appointment)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="appointment.length === 0" class="no-appointments">
      <p>No History appointments found.</p>
    </div>
    
    <!-- Display selected appointment details below -->
    <div *ngIf="selectedAppointment" class="appointment-details">
      <h3>Appointment Details</h3>
      <p><strong>Date:</strong> {{ selectedAppointment.bookingDate | date: 'dd.MM.yyyy' }}</p>
      <p><strong>Time:</strong> {{ selectedAppointment.slot }}</p>
      <p><strong>Service:</strong> {{ selectedAppointment.serviceTitle }}</p>
      <p><strong>Location:</strong> {{ selectedAppointment.vendorName }}</p>
      <p><strong>Status:</strong> {{ selectedAppointment.expr1 }}</p>
      <p><strong>Description:</strong> {{ selectedAppointment.description }}</p>
      <p><strong>Price:</strong> RM {{ selectedAppointment.priceRange | number: '1.2-2' }}</p>

      <!-- Close Button -->
      <button class="button" (click)="closeAppointmentDetails()">Close</button>
    </div>
  </mat-card>
</div>
