.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  font-size: 2rem;
  color: #333; /* Darker text */
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.signup-redirect {
  margin-top: 1rem;
}

.signup-redirect a {
  color: #63b4d4; /* Orange link color */
  text-decoration: none;
}

.signup-redirect a:hover {
  text-decoration: underline;
}
