/* Global color variables */
:root {
  --orange: #ffa701 ;
  --light-orange: #ffe8be ;
  --dark-orange: #ffa600 ;
  --dark-blue: #2E4057 ;
  --ligt-yellow: #F4F1DE;
  --white: #ffffff;
  --black: #000000;
  --light-beige: #F4F1DE;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure that padding and border widths are included in the element's total width and height */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Inherit box-sizing from body */
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

/* Content Header */
button {
  padding: 0.75rem;
  background-color: var(--dark-blue); 
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: var(--light-beige);
}
