<div class="service-management-container">
  <h2>Service Management</h2>
  
  <form [formGroup]="serviceForm" (ngSubmit)="editingService ? updateService() : addService()">
    <div>
      <label for="serviceDropdown">Select Service:</label>
      <select id="serviceDropdown" formControlName="serviceId">
        <option *ngFor="let service of services" [value]="service.serviceId">
          {{ service.serviceName }}
        </option>
      </select>
    </div>
    <div>
      <label for="serviceTitle">Service Name:</label>
      <input id="serviceTitle" formControlName="serviceTitle" required />
    </div>
    <div>
      <label for="description">Description:</label>
      <input id="description" formControlName="description" required />
    </div>
    <div>
      <label for="details">Details:</label>
      <input id="details" formControlName="details" required />
    </div>
    <div>
      <label for="priceRange">Price:</label>
      <input id="priceRange" formControlName="priceRange" type="number" required />
    </div>
    <button type="submit">{{ editingService ? 'Update Service' : 'Add Service' }}</button>
  </form>

  <h3>Available Services</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of serviceDetails">
        <td>{{ service.serviceTitle }}</td>
        <td>{{ service.description }}</td>
        <td>RM {{ service.priceRange }}</td>
        <td>
          <button (click)="editService(service)" class="action-button">Edit</button>
          <button (click)="deleteService(service.serviceId)" class="action-button">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
