<div class="dashboard-container">
  <div class="container mb-3">
    <div class="card">
        <h3><b><span class="welcome">Welcome  {{ fullname }}</span></b>
        </h3>
        <p class="timestamp">{{ today | date :'dd-MMM-yy h:mm:ss a'}}</p>
    </div>
</div>
   
  <h2>Admin Dashboard</h2>
    
    <div class="stats-section">
      <h3>Vendor Statistics</h3>
      <div class="stat-card" *ngFor="let stat of vendorStats">
        <h4>{{ stat.label }}</h4>
        <p>{{ stat.count }}</p>
      </div>
    </div>
  
    <div class="stats-section">
      <h3>User Statistics</h3>
      <div class="stat-card" *ngFor="let stat of userStats">
        <h4>{{ stat.label }}</h4>
        <p>{{ stat.count }}</p>
      </div>
    </div>
  </div>
  